body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-area {
    border: solid thin rgb(230,230,230);
    height: 100%;
}
.form-area .row {
    border: 3px dashed lightgray;
    border-radius: 4px;
    padding: 1px 12px 12px 1px;
    margin-bottom:6px;
}
.form-area .row .col {
    border: 3px dashed lightgray;
    border-radius: 4px;
    padding: 1px 12px 12px 1px;
    height:100%;
}
.col-11-cust {
    flex: 0 0 94.666667%;
    max-width: 94.666667%;
}
.col-1-cust {
    flex: 0 0 5.333333%;
    max-width: 5.333333%;
}
.nohelpers {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    height: initial !important;
}
.hideempty {
    display: none !important;
}
.emptyrow {
    border: 3px dashed lightgray;
    border-radius: 4px;
    padding: 1px 12px 12px 1px;
    height:20px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom:6px;
}
.emptycol {
    border: 3px dashed lightgray;
    border-radius: 4px;
    padding: 1px 12px 12px 1px;
    width:20px;
    margin-right:2px;
}
.element-area {
    border: solid thin rgb(230,230,230);
    height: 100%;
}
.element-area .stick {
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
}
/* Popup container - can be anything you want */
.setup-element {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* The actual popup */
.setup-element .setup-area {
    visibility: hidden;
    width: 80%;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 3;
    left: 10%;
    max-height:800px;
    overflow: auto;
}

@media (max-width: 1469px) {
    .col-md-2.offset-5 .btn.btn-primary.form-control {
        width:100% !important;
    }
}

@media (max-width: 767px) {
    .setup-element .setup-area {
        padding: 4px !important;
    }
}

/* Toggle this class - hide and show the popup */
.setup-element .show-me {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.close:before {
    content: 'X';
    color: #fff;
    font-weight: 300;
    font-family: Arial, sans-serif;
}

/**************************************************************/

#descriptors {
    visibility: hidden;
}

#descriptors.show-me {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#inputs {
    visibility: hidden;
}

#inputs.show-me {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/**************************************************************/
/*
 * General Question Bucket Styles
 */
.qBucket-el-cont {
    position: relative;
}
.darken .lighten>.qBucket-el-cont:hover .edit {
    visibility: visible;
}
.questionBucket {
    position: relative;
    border: 3px dashed rgb(228, 248, 220);
    border-radius: 4px;
    padding: 1px 12px 12px 1px;
    margin-bottom:6px;
}
.questionBucket:hover .qEdit {
    visibility: visible;
}
.darken .questionBucket:hover .qEdit {
    visibility: hidden;
}
.darken .questionBucket:hover.lighten .qEdit {
    visibility: visible;
}
.darken .questionBucket .questionText:hover .edit {
    visibility: hidden;
} 
.darken .questionBucket.lighten .questionText:hover .edit {
    visibility: visible;
} 
/*
 * Element Content Bucket Styles
 */
.el-cont {
    position: relative;
}

.el-cont:hover .edit {
    visibility: visible;
}

/*
 * Visibility Control
 */


.lighten {
    background-color: white;
}

.lighten .selector {
    background-color: white !important;
}
.darken {
    background-color: rgb(66, 66, 66);
}

.darken input {
    background-color: inherit !important;
}

.darken textarea {
    background-color: inherit !important;
}

.darken .selector {
    background-color: inherit;
}

.darken .selector-button {
    background-color: inherit !important;
}

.darken .custom-file {
    background-color: inherit !important;
}

.darken .custom-file-label {
    background-color: inherit !important;
}

.darken .el-cont:hover {
    background-color: inherit !important;
}

/*
 * Edit Button Styles
 */

.edit {
    visibility: hidden;
    color: inherit;
    text-decoration: none;
    position: absolute;
    left: -10px;
    top: -10px;
}

.qEdit {
    visibility: hidden;
    color: inherit;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: -10px;
}

.edit:hover {
    color: inherit;
    text-decoration: none;
}

.qEdit:hover {
    color: inherit;
    text-decoration: none;
}

.darken .el-cont:hover .edit {
    visibility: hidden !important;
}

.pencil:after {
    content: ' \270E';
}

.check:after {
    content: ' \2714';
}

/**************************************************************/
